@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Drina";
  src: url("../fonts/Drina.eot");
  src: url("../fonts/Drina.eot?#iefix") format("embedded-opentype"), url("../fonts/Drina.woff2") format("woff2"), url("../fonts/Drina.woff") format("woff"), url("../fonts/Drina.ttf") format("truetype");
}
@font-face {
  font-family: "Sladkoeshka";
  src: url("../fonts/Sladkoeshka.eot");
  src: url("../fonts/Sladkoeshka.eot?#iefix") format("embedded-opentype"), url("../fonts/Sladkoeshka.woff2") format("woff2"), url("../fonts/Sladkoeshka.woff") format("woff"), url("../fonts/Sladkoeshka.ttf") format("truetype"), url("../fonts/Sladkoeshka.svg#Sladkoeshka") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.lock {
  overflow: hidden;
}

body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  margin-right: 30px;
  margin-left: 30px;
  height: 100%;
}
@media (max-width: 346px) {
  .wrapper {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.container {
  max-width: 1890px;
  margin: 0 auto;
  height: 100%;
}

/*header-start----------------------------------------------------------------------------------------------------------------------------------------------------------*/
.header {
  background: #FDF9F9;
  height: 45px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1100px) {
  .header {
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: -100%;
    top: 0%;
    width: 50%;
    height: 100%;
    z-index: 111121;
    background: rgba(253, 249, 249, 0.9);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter: saturate(180%) blur(20px);
  }
  .header.active {
    left: 0%;
  }
}
.header a {
  color: #000;
}
.header__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease 0.3s;
  -o-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
@media (max-width: 1100px) {
  .header__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}
.header__body-telephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1100px) {
  .header__body-telephone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}
.header__telephone a {
  color: black;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__telephone a:hover {
  fill: #A57B78;
  color: #A57B78;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 1100px) {
  .header__telephone {
    margin-bottom: 17px;
  }
}
.header__number {
  font-size: 16px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0em;
  padding: 0px 3px 0px 3px;
}
@media (max-width: 1100px) {
  .header__number {
    font-weight: 400;
    font-size: 16px;
  }
}
.header__time {
  margin-left: 12px;
}
@media (max-width: 1100px) {
  .header__time {
    margin-left: 0px;
  }
}
.header__time-text {
  font-weight: bold;
  margin-left: 5px;
}
@media (max-width: 1100px) {
  .header__time-text {
    margin-left: 2px;
    font-weight: normal;
  }
}
.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #A57B78;
  height: 32px;
  width: 110%;
  fill: #A57B78;
  color: #A57B78;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
}
@media (max-width: 1100px) {
  .header__button {
    min-width: 50%;
    max-width: 60%;
  }
}
@media (max-width: 650px) {
  .header__button {
    min-width: 50%;
    max-width: 40%;
  }
}
@media (max-width: 420px) {
  .header__button {
    min-width: 100%;
    max-width: 60%;
  }
}
.header__button:hover {
  border: 1px solid #A57B78;
  background: #A57B78;
  fill: white;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: white;
}
.header__bt-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__iconbutton {
  margin-right: 5px;
  margin-left: 5px;
}
.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__text-user {
  margin-left: 5px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.line {
  width: 1px;
  height: 15px;
  margin: 0px 8px 0px 8px;
  background-color: black;
}

/*-header-end--------------------------------------------------------------------------------------------------------------------------------------------------*/
/*nav-start----------------------------------------------------------------------------------------------------------------------------------------------------*/
.nav {
  width: 100%;
  position: relative;
  z-index: 2333;
  border: 1px solid #E9E9E9;
  background: rgba(253, 249, 249, 0.9);
  padding: 8px 0px;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  z-index: 100000;
}
@media (max-width: 1100px) {
  .nav {
    position: fixed;
  }
}
.nav_shop-icon {
  margin-left: 6px;
}
.nav__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1100px) {
  .nav__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.nav__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 800px) {
  .nav__logo-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.nav__logo-container a {
  font-family: "Drina";
  font-size: 22px;
  color: #000;
  line-height: 22px;
}
@media (max-width: 346px) {
  .nav__logo-container a {
    font-size: 18px;
  }
}
.nav__svg-hover-icon svg {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.nav__svg-hover-icon svg:hover {
  fill: #A57B78;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.nav__logo {
  position: relative;
  margin-right: 6px;
}
.nav__logo img {
  width: 36px;
  height: 36px;
}
.nav__logo-text {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}
.nav__logo-text-style {
  text-align: center;
}
.nav__main-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 800px) {
  .nav__list {
    display: none;
  }
}
.nav__shop-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__shop-block .nav__burger {
  display: block;
}
@media (max-width: 800px) {
  .nav__shop-block .nav__burger {
    display: none;
  }
}
.nav .sub-svg {
  position: relative;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  stroke: black;
}
.nav .sub-svg svg {
  position: absolute;
  top: 2px;
  left: 108%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.nav .sub-svg:hover {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  stroke: #A57B78;
}
.nav .sub-svg:hover svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.nav .list-item {
  font-size: 15px;
  position: relative;
  margin-left: 29px;
}
.nav .list-item:hover .nav__sub-menu {
  visibility: visible;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
}
.nav .list-item:nth-child(1) {
  margin-left: 22px;
}
.nav .list-item a {
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  font-weight: bold;
  color: #000;
}
.nav .list-item a:hover {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #A57B78;
}
.nav .nav__sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  position: absolute;
  z-index: 1000000;
  left: -22px;
  padding: 0px 22px;
  top: 30px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(253, 249, 249, 0.9);
  opacity: 0;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
}
.nav .nav__sub-list {
  margin-bottom: 10px;
}
.nav .nav__sub-list a {
  font-weight: normal;
}
.nav .link-item {
  font-weight: 300;
}
.nav .active:before {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  bottom: 9.5px;
  width: 21px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nav .active:after {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  top: 9.5px;
  width: 21px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.nav__burger {
  display: none;
}
@media (max-width: 1100px) {
  .nav__burger {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-left: 6px;
    position: relative;
    width: 22px;
    height: 21px;
  }
  .nav__burger:after {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    content: "";
    width: 100%;
    position: absolute;
    background: #4d4959;
    height: 1.5px;
    left: 0;
    top: 25%;
  }
  .nav__burger:before {
    position: absolute;
    content: "";
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #4d4959;
    height: 1.5px;
    left: 0;
    bottom: 25%;
  }
}

.sticky + .swiper {
  margin-top: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/*nav-end-----------------------------------------------------------------------------------------------------------------------------------------------------*/
/*slider-start-----------------------------------------------------------------------------------------------------------------------------------------------------*/
.swiper {
  width: 100%;
  height: 95%;
  z-index: 1;
}
.swiper .swiper-button-next-swiper:after {
  content: "next";
}
.swiper .swiper-button-prev-swiper:before {
  content: "prev";
}
.swiper .swiper-button-next-swiper:after, .swiper .swiper-button-prev-swiper:before {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}
@media (max-width: 1100px) {
  .swiper {
    height: 100%;
  }
}
.swiper .swiper-button-prev-swiper, .swiper .swiper-button-next-swiper {
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
}
.swiper .swiper-slide {
  z-index: 333;
  position: relative;
  height: 100%;
}

.slider-img:nth-child(1) {
  background: url("../img/img-slide/slide2.png") center/cover no-repeat;
}
.slider-img:nth-child(2) {
  background: url("../img/img-slide/slide-2.jpg") center/cover no-repeat;
}
.slider-img:nth-child(3) {
  background: url("../img/img-slide/slide-4.jpg") center/cover no-repeat;
}

.swipers {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
}
.swipers .swiper.swiper-slide {
  direction: unset;
  z-index: 333;
  position: relative;
  height: 100%;
}
.swipers .swiper.swiper-slide:nth-child(1) {
  background: none;
}
@media (max-width: 1100px) {
  .swipers {
    height: 100%;
    min-height: 100%;
  }
}

.slider .swiper-horizontal > .swiper-pagination-bullets, .slider .swiper-pagination-bullets.swiper-pagination-horizontal, .slider .swiper-pagination-custom, .slider .swiper-pagination-fraction {
  bottom: 0px;
  left: 0;
  width: 100%;
}
.slider__cart-body {
  position: relative;
  width: 80%;
  background: white;
  padding: 40px 40px;
  margin-bottom: 40px;
}
@media (max-width: 636px) {
  .slider__cart-body {
    width: 70%;
    padding: 10px 10px;
  }
}
.slider__body-cart {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 720px) {
  .slider__body-cart {
    overflow-x: scroll;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.slider__cart {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider__cart a {
  color: black;
}
.slider__image {
  width: 90%;
  position: relative;
  padding: 0 0 90% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 14px;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__title-cart {
  font-weight: 275;
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 5px;
}
@media (max-width: 1000px) {
  .slider__title-cart {
    font-size: 20px;
  }
}
.slider__money-text {
  line-height: 15px;
}
.slider__order {
  line-height: 20px;
  text-transform: uppercase;
}
.slider__body-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 100px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 636px) {
  .slider__body-3 {
    padding: 30px 0px;
  }
}
@media (max-width: 500px) {
  .slider__body-3 {
    padding: 70px 0px;
  }
}
@media (max-width: 420px) {
  .slider__body-3 {
    padding: 90px 0px;
  }
}
.slider__body-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 100px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slider__subtitle-2 {
  max-width: 40%;
  min-width: 89%;
  padding: 20px 37px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1400px) {
  .slider__subtitle-2 {
    width: 72%;
    padding: 10px 27px;
  }
}
@media (max-width: 600px) {
  .slider__subtitle-2 {
    padding: 10px 10px;
  }
}
.slider__subtitle-2 a {
  color: black;
  width: 100%;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
}
.slider__subtitle-2 a:hover {
  color: #484241;
  text-decoration: underline;
}
@media (max-width: 700px) {
  .slider__subtitle-2 a {
    font-size: 24px;
  }
}
@media (max-width: 420px) {
  .slider__subtitle-2 a {
    font-size: 18px;
  }
}
.slider__title-2 {
  min-width: 50%;
  padding: 20px 10px;
  position: relative;
  background: white;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 60px;
}
@media (max-width: 800px) {
  .slider__title-2 {
    width: 80%;
  }
}
@media (max-width: 420px) {
  .slider__title-2 {
    margin-bottom: 10px;
    padding: 10px 10px;
  }
}
.slider__title-2 span {
  color: #484241;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Drina;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 73px;
  letter-spacing: 0em;
  text-align: center;
}
@media (max-width: 600px) {
  .slider__title-2 span {
    font-size: 52px;
  }
}
@media (max-width: 450px) {
  .slider__title-2 span {
    font-size: 42px;
  }
}
@media (max-width: 320px) {
  .slider__title-2 span {
    font-size: 32px;
  }
}
.slider__title-3 {
  min-width: 50%;
  padding: 20px 10px;
  position: relative;
  background: white;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}
@media (max-width: 1400px) {
  .slider__title-3 {
    width: 72%;
    padding: 10px 27px;
  }
}
@media (max-width: 800px) {
  .slider__title-3 {
    width: 80%;
  }
}
@media (max-width: 420px) {
  .slider__title-3 {
    margin-bottom: 10px;
    padding: 10px 10px;
  }
}
.slider__title-3 span {
  color: #484241;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Drina;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 73px;
  letter-spacing: 0em;
  text-align: center;
}
@media (max-width: 600px) {
  .slider__title-3 span {
    font-size: 52px;
  }
}
@media (max-width: 450px) {
  .slider__title-3 span {
    font-size: 42px;
  }
}
@media (max-width: 320px) {
  .slider__title-3 span {
    font-size: 32px;
  }
}
.slider__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.slider__number {
  width: 60%;
}
@media (max-width: 500px) {
  .slider__number {
    width: 80%;
  }
}
.slider__search {
  width: 100%;
  position: relative;
  padding: 0px 15px;
}
@media (max-width: 500px) {
  .slider__search {
    padding: 0px 0px;
  }
}
.slider__search form {
  display: block;
}
.slider__search input {
  font-size: 24px;
  font-weight: 300;
  width: 100%;
  padding: 25px 0px;
  border-radius: 50px;
  padding-left: 40px;
}
@media (max-width: 700px) {
  .slider__search input {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .slider__search input {
    font-size: 12px;
    padding-left: 20px;
  }
}
.slider__search-icon {
  position: absolute;
  left: 90%;
  top: 24%;
  background: none;
}
.slider__search-icon svg {
  width: 30px;
}
@media (max-width: 500px) {
  .slider__search-icon svg {
    width: 28px;
  }
}
@media (max-width: 900px) {
  .slider__search-icon {
    left: 85%;
  }
}
@media (max-width: 500px) {
  .slider__search-icon {
    left: 80%;
    top: 21%;
  }
}
.slider__title {
  width: 42%;
  min-width: 42%;
  padding: 27px 37px;
  position: relative;
  margin-bottom: 20px;
  background: white;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1400px) {
  .slider__title {
    width: 62%;
    padding: 17px 27px;
  }
}
@media (max-width: 1000px) {
  .slider__title {
    width: 70%;
  }
}
@media (max-width: 860px) {
  .slider__title {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .slider__title {
    width: 97%;
  }
}
@media (max-width: 600px) {
  .slider__title {
    padding: 0px 0px;
  }
}
.slider__title span {
  color: #484241;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Drina;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 73px;
  letter-spacing: 0em;
  text-align: center;
}
@media (max-width: 600px) {
  .slider__title span {
    font-size: 52px;
  }
}
@media (max-width: 450px) {
  .slider__title span {
    font-size: 42px;
  }
}
@media (max-width: 320px) {
  .slider__title span {
    font-size: 32px;
  }
}
.slider__logo-img {
  width: 10%;
  position: relative;
  padding: 0 15% 15% 0;
  position: relative;
}
.slider__logo-img img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__line {
  display: none;
}
.slider__line span {
  position: relative;
}
.slider__line span:before {
  z-index: -10;
  position: absolute;
  content: "";
  width: 30%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #4d4959;
  height: 1.5px;
  left: -12%;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.slider__line span:after {
  z-index: -10;
  position: absolute;
  content: "";
  width: 30%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #4d4959;
  height: 1.5px;
  left: 80%;
  top: -20%;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.slider__subtitle {
  width: 55%;
  padding: 20px 37px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 25px;
}
@media (max-width: 1400px) {
  .slider__subtitle {
    width: 72%;
    padding: 10px 27px;
  }
}
@media (max-width: 1000px) {
  .slider__subtitle {
    width: 80%;
  }
}
@media (max-width: 860px) {
  .slider__subtitle {
    width: 90%;
  }
}
.slider__subtitle span {
  width: 100%;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
}
@media (max-width: 450px) {
  .slider__subtitle span {
    font-size: 25px;
  }
}
@media (max-width: 320px) {
  .slider__subtitle span {
    font-size: 20px;
  }
}
.slider__button {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.slider__button:hover {
  text-decoration: underline;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.slider__button a {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.07em;
  color: #484241;
  background: white;
  padding: 10px 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  border-radius: 178px;
}
.slider__button a:hover {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media (max-width: 450px) {
  .slider__button a {
    font-size: 18px;
  }
}
@media (max-width: 320px) {
  .slider__button a {
    font-size: 16px;
  }
}

[data-animate] {
  opacity: 0;
  -webkit-transition: all 0.5s ease 0.3s;
  -o-transition: all 0.5s ease 0.3s;
  transition: all 0.5s ease 0.3s;
}

[data-animate=top] {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transform: translate(0px, -200px);
      -ms-transform: translate(0px, -200px);
          transform: translate(0px, -200px);
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

[data-animate=bottom] {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transform: translate(0px, 200px);
      -ms-transform: translate(0px, 200px);
          transform: translate(0px, 200px);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.swiper-slide.swiper-slide-active [data-animate] {
  opacity: 1;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.swiper-button-next:after, .swiper-button:after {
  color: #484241;
}

.swiper-button-prev:after, .swiper-button:after {
  color: #484241;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: -34px;
  right: auto;
}

.swiper-button-next, .swiper-rtl .swiper-button {
  right: -34px;
  left: auto;
}

.swiper-button-next-swiper:after, .swiper-button-swiper:before {
  color: black;
}

.swiper-button-prev-swiper, .swiper-rtl .swiper-button-next-swiper {
  left: 10px;
  right: auto;
}

.swiper-button-next-swiper, .swiper-rtl .swiper-button-swiper {
  right: 10px;
  left: auto;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: "prev";
}

/*slider-end-----------------------------------------------------------------------------------------------------------------------------------------------------*/
/*mobile-start-----------------------------------------------------------------------------------------------------------------------------------------------------*/
.close {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0%;
  opacity: 0.2;
  z-index: 100000;
  display: none;
  background: #000;
}
.close.active {
  display: block;
}
@media (min-width: 1100px) {
  .close {
    display: none;
  }
}

.nav__burger-view {
  display: none;
}
@media (max-width: 800px) {
  .nav__burger-view {
    display: block;
  }
}

.mobile {
  display: none;
}
@media (max-width: 1100px) {
  .mobile {
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    overflow: auto;
    position: fixed;
    display: block;
    left: -100%;
    top: 0%;
    width: 50%;
    height: 100%;
    z-index: 111121;
    background: rgba(253, 249, 249, 0.9);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter: saturate(180%) blur(20px);
  }
}
@media (max-width: 1100px) and (max-width: 650px) {
  .mobile {
    width: 75%;
  }
}
@media (max-width: 1100px) {
  .mobile.active {
    left: 0%;
  }
}
.mobile__list {
  position: relative;
  font-size: 17px;
}
.mobile__list li {
  position: relative;
}
.mobile__list li img {
  position: absolute;
  left: 9px;
  width: 20px;
  height: 21px;
  top: 28%;
}
.mobile__list li a {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #000;
  display: block;
}
.mobile__list li a:first-child {
  padding: 14px 42px;
}
.mobile__list li a:hover {
  background-color: rgba(7, 30, 31, 0.01);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.mobile__list li {
  border-top: 1px solid #EEE6E6;
}
.mobile__list-item {
  position: relative;
}
.mobile__sub-menu {
  display: none;
}
.mobile__sub-menu li {
  background: #FFF0EE;
}
.mobile__body .active-mobile-sub-menu svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  stroke: #A57B78;
}
.mobile__body .sub-svg {
  position: relative;
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  stroke: black;
}
.mobile__body .sub-svg svg {
  position: absolute;
  top: 14px;
  left: 92%;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media (max-width: 768px) {
  .mobile__body .sub-svg svg {
    left: 92%;
  }
}
@media (max-width: 500px) {
  .mobile__body .sub-svg svg {
    left: 88%;
  }
}
.mobile__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile__head-container {
  padding: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mobile__close {
  margin-left: 24px;
}
.mobile__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.mobile__logo-text {
  font-family: "Drina";
  font-size: 22px;
  color: #000;
  line-height: 22px;
  font-weight: 600;
}

.mobile__container-telephone {
  padding: 16px 12px;
}
.mobile__container-telephone:nth-child(2) {
  margin-bottom: 30px;
}

.d-block {
  display: block;
  padding: 0px 8px;
}

.mobile__search {
  width: 40%;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  margin-right: 20px;
  padding: 0px 15px;
}
.mobile__search form {
  display: block;
}
.mobile__search input {
  width: 100%;
  padding: 10px 0px;
  border-radius: 50px;
  padding-left: 17px;
}

.mobile__search-icon {
  position: absolute;
  left: 85%;
  top: 20%;
  background: none;
}
@media (max-width: 420px) {
  .mobile__search-icon {
    left: 80%;
  }
}

.sticky {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100000;
  -webkit-animation: sticky 1s;
          animation: sticky 1s;
}
@media (max-width: 800px) {
  .sticky {
    -webkit-animation: none;
            animation: none;
  }
}
@-webkit-keyframes sticky {
  0% {
    -webkit-transform: translate(0px, -50px);
            transform: translate(0px, -50px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
@keyframes sticky {
  0% {
    -webkit-transform: translate(0px, -50px);
            transform: translate(0px, -50px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

/*mobile-end-----------------------------------------------------------------------------------------------------------------------------------------------------*/
/*category-start-----------------------------------------------------------------------------------------------------------------------------------------------------*/
.category {
  display: none;
  padding: 60px 0px;
}
.category .h1 {
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
}
.category__body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.category__title {
  color: #451106;
}
.category__button {
  margin-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #451106;
  border-radius: 26px;
}
.category__button .svg-hover {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.category__button .svg-hover svg {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  fill: white;
}
.category__button .svg-hover:hover {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.category__button .svg-hover:hover svg {
  fill: #451106;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.category__button:hover {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: white;
  color: #451106;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.category__button span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}
.category__elements-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background: #E4CAC8;
}
.category__elements-body {
  padding: 20px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.category__element {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 17%;
          flex: 1 0 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}
.category__element-body {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  width: 80%;
  padding: 10px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.category__element-body:hover {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.category__element-image {
  position: relative;
  padding: 11%;
}
.category__element-image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.category__element-text {
  width: 50%;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  margin-left: 20px;
}

/*category-end-----------------------------------------------------------------------------------------------------------------------------------------------------*/
/*holidays-start-------------------------------------------------------------------------------------------------------------------------------------------*/
.holidays {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 80px 0px;
  background: url("../img/background/flowers-draw-color.jpg") center/cover no-repeat;
}
@media (max-width: 1050px) {
  .holidays {
    background: url("../img/background/flowers-610.jpg") center/cover no-repeat;
  }
}
@media (max-width: 760px) {
  .holidays {
    height: 80%;
    padding: 0px 0px;
  }
}
@media (max-width: 420px) {
  .holidays {
    height: 70%;
    padding: 0px 0px;
  }
}
.holidays__container {
  margin: 0 auto;
  max-width: 1890px;
}
.holidays__body {
  font-size: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.holidays__body li {
  line-height: 88px;
}
@media (max-width: 1800px) {
  .holidays__body {
    font-size: 62px;
  }
  .holidays__body li {
    line-height: 88px;
  }
}
@media (max-width: 1200px) {
  .holidays__body {
    font-size: 52px;
  }
  .holidays__body li {
    line-height: 64px;
  }
}
@media (max-width: 870px) {
  .holidays__body {
    font-size: 5.7vw;
  }
  .holidays__body li {
    line-height: 64px;
  }
}
@media (max-width: 550px) {
  .holidays__body {
    font-size: 6.5vw;
  }
  .holidays__body li {
    line-height: 50px;
  }
}
.holidays__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.holidays__title-text {
  text-align: center;
  padding: 10px 20px;
  background: #FFFFFF;
  border-radius: 52px;
  color: #484241;
  font-family: Montserrat;
  font-weight: 400;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 35px;
}
.holidays__title-text:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.15);
}
.holidays__title-text svg {
  width: 50px;
  fill: black;
  margin-left: 30px;
  stroke-width: 2;
  stroke: black;
}
@media (max-width: 720px) {
  .holidays__title-text svg {
    display: none;
  }
}
@media (max-width: 720px) {
  .holidays__title-text {
    margin-bottom: 15px;
  }
}
.holidays__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: 800;
}
.holidays__list .svg-hover {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.holidays__list .svg-hover svg {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  fill: #484241;
}
.holidays__list .svg-hover:hover {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.holidays__list .svg-hover:hover svg {
  fill: #89807E;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.holidays__list li {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  color: #484241;
}
.holidays__list li:hover {
  color: #89807E;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transform: translate(-50px, 0px);
      -ms-transform: translate(-50px, 0px);
          transform: translate(-50px, 0px);
}
.holidays__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.holidays__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.holidays__svg svg {
  width: 32px;
  margin-left: 13px;
}
@media (max-width: 800px) {
  .holidays__svg svg {
    width: 24px;
  }
}
@media (max-width: 500px) {
  .holidays__svg svg {
    width: 20px;
  }
}

/*holidays-end-------------------------------------------------------------------------------------------------------------------------------------------*/
/*best-seller-start-------------------------------------------------------------------------------------------------------------------------------------------*/
.best-seller {
  padding: 60px 0px;
  background: url("../img/background/flowers-back-cart.jpg") center/cover no-repeat;
}
@media (max-width: 720px) {
  .best-seller {
    padding: 30px 0px;
  }
}
.best-seller__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.best-seller__body a {
  color: black;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.best-seller__body a:hover {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: #89807E;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.best-seller__title {
  font-family: Montserrat;
  font-size: 62px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.07em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 70px;
}
@media (max-width: 720px) {
  .best-seller__title {
    font-size: 8vw;
    line-height: 62px;
    margin-bottom: 42px;
  }
}
@media (max-width: 460px) {
  .best-seller__title {
    font-size: 7vw;
    line-height: 42px;
    margin-bottom: 22px;
  }
}
.best-seller__body-cart {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
@media (max-width: 720px) {
  .best-seller__body-cart {
    overflow-x: scroll;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.best-seller__cart {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.best-seller__cart a {
  color: black;
}
@media (max-width: 1200px) {
  .best-seller__cart {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 720px) {
  .best-seller__cart {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-right: 50px;
    margin-bottom: 10px;
  }
}
.best-seller__image {
  width: 90%;
  position: relative;
  padding: 0 0 90% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.best-seller__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 14px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 720px) {
  .best-seller__image {
    width: 300px;
  }
}
@media (max-width: 450px) {
  .best-seller__image {
    width: 250px;
  }
}
.best-seller__title-cart {
  font-weight: 275;
  font-size: 20px;
  line-height: 29px;
}
.best-seller__money-text {
  line-height: 15px;
}
.best-seller__order {
  line-height: 20px;
  text-transform: uppercase;
}
.best-seller .svg-cart {
  position: relative;
}
.best-seller .svg-cart svg {
  width: 25px;
  position: absolute;
  flll: black;
  stroke: black;
  left: -25px;
  top: -33%;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.best-seller .svg-cart:hover {
  flll: #89807E;
  stroke: #89807E;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.best-seller__buy-text {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
@media (max-width: 560px) {
  .best-seller__buy-text {
    font-size: 5vw;
  }
}

.svg-cart {
  position: relative;
}
.svg-cart svg {
  width: 25px;
  position: absolute;
  flll: black;
  stroke: black;
  left: -25px;
  top: -33%;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.svg-cart:hover {
  flll: #89807E;
  stroke: #89807E;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/*best-seller-end-------------------------------------------------------------------------------------------------------------------------------------------*/