// Файл обнуляющих стилей
@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body{
	min-height: 100%;
	font-family: 'Montserrat', sans-serif;
}
.wrapper {
	margin-right: 30px;
	margin-left: 30px;
	height: 100%;

}
.container {
	max-width: 1890px;
	margin: 0 auto;
height: 100%;
}
/*header-start----------------------------------------------------------------------------------------------------------------------------------------------------------*/
.header {
	background: #FDF9F9;
	height: 40px;
	width: 100%;
	display: grid;
	align-items: center;

	
	&__body {
		flex: 1 1 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
	}
	&__body-telephone{
		display: flex;
		align-items: center;
	}
	&__telephone {
		a{
			display: flex;
			align-items: center;
		}
	}
	&__icon {

	}
	&__number { 
		font-size: 16px;
		font-weight: 500;
		line-height: 13px;
		letter-spacing: 0em;
		padding: 0px 3px 0px 3px;
	}
	&__time {
		margin-left: 	12px;
	}
	&__time-text {
		font-weight: bold;	
		margin-left: 	5px;
	}

	&__button {
		display: flex;	
		height: 29px;
		border: 	1px solid black;
		padding: 1%;
		align-items: center;	
		justify-content: center;	
		border-radius: 50px;
		&:hover{

		}
	}
	&__bt-text  {

	}
	&__iconbutton {
		margin-right: 5px;	
	}
	&__user {
		display: flex;	
	}
	&__text-user {margin-left: 5px;font-weight: bold;		}
}
.line {
	width: 1px;
	height: 15px;
	margin: 0px 8px 0px 8px;
	background-color: black;
}
.bt-text {
}
.us-text {
}
/*-header-end--------------------------------------------------------------------------------------------------------------------------------------------------*/
/*nav-start----------------------------------------------------------------------------------------------------------------------------------------------------*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
  
}
.nav {
border: 1px solid #E9E9E9;
background: rgba(253, 249, 249, 0.9);;
padding: 8px 0px;
	&_shop-icon {
		margin-left: 6px;
	}
	&__body {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;	
	}
	&__logo-container {
		display: flex;
		flex-direction: row;
		a {
			color: #000;
		}


	}
	&__logo {
		margin-right: 6px
	}
	&__logo-text {
		display: flex;
		align-items: center;
		font-weight: bold;
			}
	&__logo-text-style {}
	&__main-container {
		 flex-grow: 1;

	}
	&__list {
		display: flex;
		flex-direction: row;

	}
	&__shop-block { 
		display: flex;
	 }
	.list-item { 
		margin-left: 29px;
		a{
			color: #000;
		}
	}
	.link-item {
		font-weight: 300;

	}	

}
	.sticky + .swiper {
  margin-top: 10px;
    transition: 0.3s;
}
/*nav-end-----------------------------------------------------------------------------------------------------------------------------------------------------*/
  .swiper {
        width: 100%;
        height: 70%;
        min-height: 40%;


      }
      .swiper-slide {

   position: relative;
height:100%;
     &:nth-child(1){
 background: url('../img/img-slide/slide1.png') center /cover no-repeat;
     }
        &:nth-child(2){
 background: url('../img/img-slide/slide2.png') center /cover no-repeat;
     } 
  
        &:nth-child(3){
 background: url('../img/img-slide/slide3.png') center /cover no-repeat;
     } 
      }
      
      .slider {

	&__body {
		flex-direction: column;
display: flex;
height: 100%;
align-items: start;
justify-content: center;


	}
	&_column{
		
		display: flex;
	
		align-items: center;
flex-direction: column;
	}
	&__text {
		width: 80%;
		
		font-family: Montserrat;
font-size: 72px;
font-style: normal;
font-weight: 300;
line-height: 88px;
letter-spacing: 0em;
text-align: center;
color: rgba(72, 66, 65, 1);
margin-bottom: 10px;

}
	&__button {
		
		display: flex;	
		span{
			padding: 10px 40px;
			background: rgba(255, 255, 255, 1);
			color: #484241;
			border-radius: 50px;
font-size: 24px;
font-weight: 600;
line-height: 29px;
letter-spacing: 0em;
text-transform: uppercase;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
position: relative;
  transition: 0.3s;
&:hover{
  transition: 0.3s;
	box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.15);
}
		}
	}
}
