// Файл обнуляющих стилей
@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@font-face {
	font-family: 'Drina';
	src: url('../fonts/Drina.eot');
	src: url('../fonts/Drina.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Drina.woff2') format('woff2'),
	url('../fonts/Drina.woff') format('woff'),
	url('../fonts/Drina.ttf') format('truetype');
}

@font-face {
	font-family: 'Sladkoeshka';
	src: url('../fonts/Sladkoeshka.eot');
	src: url('../fonts/Sladkoeshka.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Sladkoeshka.woff2') format('woff2'),
	url('../fonts/Sladkoeshka.woff') format('woff'),
	url('../fonts/Sladkoeshka.ttf') format('truetype'),
	url('../fonts/Sladkoeshka.svg#Sladkoeshka') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

$maxWidth: 1280;
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;
	@media (max-width: 767px) {
		font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
	}
	@media (min-width: 767px) {
		font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
	}
}
.lock{	

	overflow: hidden;
	
}
.ibg{

background-position: center;
background-size: cover;
background-repeat: no-repeat;
position: relative;
}

.ibg img{

width: 0;
height: 0;
position: absolute;
top: 0;
left: 0;
opacity: 0;
visibility: hidden;
}

body{
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
	
}

.wrapper {
	margin-right: 30px;
	margin-left: 30px;
	height: 100%;
	@media (max-width: 346px) {
		margin-right: 10px;
		margin-left: 10px;
	}

}
.container {
	max-width: 1890px;
	margin: 0 auto;
	height: 100%;
}
/*header-start----------------------------------------------------------------------------------------------------------------------------------------------------------*/
.header {
	background: #FDF9F9;
	height: 45px;
	width: 100%;
	display: grid;
	align-items: center;	

	@media (max-width: 1100px) {
		transition:  0.3s ease;
		justify-content: end;
		display: flex;
		position: fixed;
		flex-direction: column;
		left: -100%;
		top: 0%;
		width: 50%;
		height: 100%;
		z-index: 111121;
		background: rgba(253, 249, 249, 0.9);

		backdrop-filter: saturate(180%) blur(20px);

		&.active{
			left: 0%;


		}

	}
	a{
		color: #000;
	}
	
	&__body {

		flex: 1 1 100%;
		width: 100%;
		display: flex;
		align-items: center;
		transition: all 0.5s ease 0.3s;
		justify-content: space-between;
		height: 100%;
		@media (max-width: 1100px) {
			flex-direction: column;
			justify-content: end;

		}
	}
	&__body-telephone{
		display: flex;
		align-items: center;
		@media (max-width: 1100px) {

			flex-direction: column;
			justify-content: end;
			align-items: end;
		}
	}
	&__telephone {

		a{

			color: black;
			transition: 0.2s;	
			&:hover{

				fill: #A57B78;
				color: #A57B78;
				transition: 0.5s;	
			}
			display: flex;
			align-items: center;
		}
		@media (max-width: 1100px) {
			margin-bottom: 17px;

		}
	}
	&__icon {

	}
	&__number { 
		font-size: 16px;
		font-weight: 500;
		line-height: 13px;
		letter-spacing: 0em;
		padding: 0px 3px 0px 3px;
		@media (max-width: 1100px) {
			font-weight: 400;
			font-size: 16px;
		}
	}
	&__time {
		margin-left: 	12px;
		@media (max-width: 1100px) {
			margin-left: 	0px;
		}
	}
	&__time-text {
		font-weight: bold;	
		margin-left: 	5px;
		@media (max-width: 1100px) {
			margin-left: 	2px;
			font-weight: normal;
		}
	}

	&__button {
		display: flex;	
		transition: 0.3s;	
		border: 	1px solid  #A57B78;
		height: 32px;
		width: 110%;
		@media (max-width: 1100px) {
			min-width: 50%;
			max-width: 60%;
		}
		@media (max-width: 650px) {
			min-width: 50%;
			max-width: 40%;
		}
		@media (max-width: 420px) {
			min-width: 100%;
			max-width: 60%;
		}
		fill: #A57B78;
		color: #A57B78;

		&:hover{
			border: 	1px solid #A57B78;
			background:  #A57B78;
			fill: white;
			transition: 0.5s;	
			color: white;
		}
		align-items: center;	
		justify-content: center;	
		border-radius: 50px;
		&:hover{

		}
		
	}
	&__bt-text  {
		
		flex: 1 1 auto;


	}
	&__iconbutton {
		margin-right: 5px;

		margin-left: 5px;
	}
	&__user {
		display: flex;	
	}
	&__text-user {margin-left: 5px;font-weight: bold;	display: flex; align-items: center; justify-content: center;	}
}
.line {
	width: 1px;
	height: 15px;
	margin: 0px 8px 0px 8px;
	background-color: black;
}
.bt-text {
}
.us-text {
}
/*-header-end--------------------------------------------------------------------------------------------------------------------------------------------------*/
/*nav-start----------------------------------------------------------------------------------------------------------------------------------------------------*/


.nav {
	width: 100%;
	position: relative;
	z-index: 2333;

	border: 1px solid #E9E9E9;
	background: rgba(253, 249, 249, 0.9);
	padding: 8px 0px;
	backdrop-filter: saturate(180%) blur(20px);
	z-index: 100000;
	@media (max-width: 1100px) {
		position: fixed;
	}
	&_shop-icon {
		margin-left: 6px;
	}
	&__body {

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 1100px) {
			justify-content: center;
		}	
	}
	&__logo-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		@media (max-width: 800px) {
			flex: 1 1 100%;
		}
		a {
			font-family: 'Drina';
			font-size: 22px;
			color: #000;
			line-height: 22px;
			@media (max-width: 346px) {
				font-size: 18px;
			}
		}
	}
	&__svg-hover-icon{
		svg{
			transition: 0.3s;	

			&:hover{
				fill: #A57B78;
				transition: 0.5s;	
			}
		}	
	}
	&__logo {
		position: relative;

		img{
			width: 36px;
			height: 36px;
		}
		margin-right: 6px
	}
	&__logo-text {
		flex-direction: row;
		display: flex;
		align-items: center;
		font-weight: 600;

	}
	&__logo-text-style {
		text-align: center;
	}
	&__main-container {
		flex-grow: 	1;
	}
	&__list {
		display: flex;
		flex-direction: row;
		@media (max-width: 800px) {
			display: none;
		}
	}
	&__shop-block { 
		.nav__burger{
			display: block;
		}
		@media (max-width: 800px) {
			.nav__burger{
				display: none;
			}
		}
		display: flex;
	}
	.sub-svg{

		position: relative;
		transition: all 0.8s ease;	
		stroke: black;
		
		svg{
			position: absolute;
			top: 2px;
			left: 108%;
			transition: all 0.4s ease;
		}
		&:hover{
			svg{
				transform: rotate(180deg);
				transition: all 0.4s ease;
			}
			transition: all 0.4s ease;
			stroke: #A57B78; 
		}

	}


	.list-item { 
		font-size: 15px;
		position: relative;
		margin-left: 29px;
		&:hover{
			.nav__sub-menu{

				visibility: visible;
				transition: all 0.5s ease;	
				opacity: 1;
			}
		}
		&:nth-child(1) {
			margin-left: 22px; 

		}

		a{
			transition: all 0.8s ease;	
			font-weight: bold;	
			color: #000;
			&:hover{

				transition: all 0.2s ease;	
				color: 	#A57B78;
			}	
		}
	}
	.nav {
		&__sub-menu {
			display: flex;
			visibility: hidden;
			position: absolute;
			z-index: 1000000;
			left: -22px;
			padding: 0px 22px;
			top: 30px;
			transition: all 0.4s ease;	
			align-items: start;
			justify-content: center;
			flex-direction: column;

			background: rgba(253, 249, 249, 0.9);
			opacity: 0;
			backdrop-filter: saturate(180%) blur(20px);
		}
		&__sub-list {
			a{
				font-weight: normal;
			}

			margin-bottom: 10px;

		}
	}

	.link-item {

		font-weight: 300;
	}	
	.active{

	}
	.active:before{
		transition: 0.2s; 
		bottom: 9.5px;	
		width:21px;
		transform: rotate(45deg);
	}.active:after{
		transition: 0.5s; 
		top: 9.5px;
		width:21px;
		transform: rotate(-45deg);
	}
	&__burger{
		display: none;
		@media (max-width: 1100px) {
			display: block;
			align-items: center;
			transition: 0.5s; 
			margin-left: 6px;
			position: relative;
			width:22px;
			height: 21px;


			&:after{
				transition: all 0.5s ease;	
				content: "";

				width: 100%;
				position: absolute;
				background: #4d4959;
				height: 1.5px;
				left: 0;
				top: 25%;
			}
			&:before{
				position: absolute;
				content: "";
				width: 100%;
				transition: all 0.5s ease;	
				background: #4d4959;
				height: 1.5px;
				left: 0;
				bottom: 25%;
			}

			span{

			}
		}

	}
}
.sticky + .swiper {
	margin-top: 10px;
	transition: 0.3s;
}


/*nav-end-----------------------------------------------------------------------------------------------------------------------------------------------------*/
/*slider-start-----------------------------------------------------------------------------------------------------------------------------------------------------*/

.swiper {
	width: 100%;
	height: 95%;


.swiper-button-next-swiper:after,   {
    content: 'next';
}
.swiper-button-prev-swiper:before{
	content: 'prev';
}
.swiper-button-next-swiper:after, .swiper-button-prev-swiper:before {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none!important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
}
	z-index: 1;
	@media (max-width: 1100px) {
		height: 90%;
	}	
	.swiper-button-prev-swiper,.swiper-button-next-swiper{

	position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
opacity: 1;


}

	.swiper-slide {
		z-index: 333;
		position: relative;
		height:100%;
	}
}

.slider-img{
	&:nth-child(1){
		background: url('../img/img-slide/slide2-min.webp') center /cover no-repeat;
	}
	&:nth-child(2){
		background: url('../img/img-slide/slide-2-min.webp') center /cover no-repeat;
	} 

	&:nth-child(3){
		background: url('../img/img-slide/slide-4-min.webp') center /cover no-repeat;
	} 

}
.swipers {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	.swiper.swiper-slide {
		direction: unset;
		z-index: 333;
		position: relative;
		height:100%;
		&:nth-child(1){
			background: none;
		}
		&:nth-child(2){

		} 

		&:nth-child(3){

		} 
	}
	@media (max-width: 1100px) {
		height: 100%;
		min-height: 100%;
	}

}


.slider {
	.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
		bottom: 0px;
		left: 0;
		width: 100%;
	}
	&__cart-body{

position: relative;
		width: 80%;
		background: white;
		padding: 40px 40px;
		margin-bottom: 40px;
	
		@media (max-width: 636px) {
			width: 70%;
			padding: 10px 10px;
		}
	}

	&__body-cart {
		overflow: hidden;
		flex: 1 1 100%;
		display: flex;
		width: 100%;

		justify-content: space-between;

		@media (max-width: 720px) {
			overflow-x: scroll;
			flex-wrap: nowrap;

		}
	}
	&__cart {
		flex:1 1 25%; 
		display: flex;
		flex-direction: column;
		align-items: center;
		a{
			color: black;
		}

	}
	&__image {

		width: 90%;
		position: relative;
		padding: 0 0 90% 0;
		display: flex;
		align-items: center;
		justify-content: center;
		
		img{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			border-radius: 14px;
			object-fit: cover;

		}
		
	}

	&__title-cart {font-weight: 275;
		font-size: 20px;
		line-height: 29px;
		margin-bottom: 5px;
		@media (max-width: 1000px) {
			font-size: 20px;
		}

	}
	&__money-text {

		line-height: 15px;

	}
	&__order {
		line-height: 20px;
		text-transform: uppercase;



	}



	&__body-2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		padding: 100px 0px;
		justify-content: space-between;
		
		

	}
	&__subtitle-2 {
		max-width: 40%;
		min-width: 89%;
		padding: 20px 37px;
		position: relative;
		display: flex;
		background: white;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		margin-bottom: 60px;
		@media (max-width: 1400px) {
			width: 72%;
			padding: 10px 27px;
		}
		@media (max-width: 1000px) {

		}

		@media (max-width: 600px) {
			padding: 10px 10px;
			margin-bottom: 30px;
		}
		a{
			color: black;
			&:hover{
				color: #484241;
				text-decoration: underline;
			}
			width: 100%;
			font-family: Montserrat;
			font-size: 36px;
			font-style: normal;
			font-weight: 300;
			line-height: 44px;
			letter-spacing: 0em;
			text-align: center;
			@media (max-width: 700px) {
				font-size: 25px;
			}
			@media (max-width: 320px) {
				font-size: 18px;
			}
			
		}

	}
	&__title-2 {
		min-width: 50%;
		padding: 20px 10px;
		position: relative;

		background: white;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		margin-bottom: 60px;
		@media (max-width: 800px) {
			width: 80%;
		}
		@media (max-width: 420px) {
				margin-bottom: 10px;
				padding: 10px 10px;
		}
		span{

			color: #484241;
			height: 100%;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: Drina;
			font-size: 72px;
			font-style: normal;
			font-weight: 400;
			line-height: 73px;
			letter-spacing: 0em;
			text-align: center;
			@media (max-width: 600px) {

				font-size: 52px;
			}
			@media (max-width: 450px) {

				font-size: 42px;
			}
			@media (max-width: 320px) {

				font-size: 32px;
			}
		}

	}


	&__title-3 {
		min-width: 50%;
		padding: 20px 10px;
		position: relative;

		background: white;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		margin-bottom: 30px;
			@media (max-width: 1400px) {
			width: 72%;
			padding: 10px 27px;
		}
			@media (max-width: 800px) {
			width: 80%;
		}
		@media (max-width: 320px) {
				margin-bottom: 15px;
				padding: 10px 10px;
		}
		span{

			color: #484241;
			height: 100%;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: Drina;
			font-size: 72px;
			font-style: normal;
			font-weight: 400;
			line-height: 73px;
			letter-spacing: 0em;
			text-align: center;
				@media (max-width: 600px) {

				font-size: 52px;
			}
			@media (max-width: 450px) {

				font-size: 42px;
			}
			@media (max-width: 320px) {

				font-size: 32px;
			}
		}
	
	}

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;

	}
	&__number{
		width: 60%;
			@media (max-width: 500px) {
					width: 80%;
		}
	}
	&__search{
width: 100%;


		position: relative;



		padding: 0px 15px;
			@media (max-width: 500px) {
					padding: 0px 0px;
		}
		form{
			display: block;
		}
		input{
			font-size: 24px;
			font-weight: 300;


			width: 100%;
			padding: 25px 0px;
			border-radius: 50px;
			padding-left: 40px;
			@media (max-width: 700px) {
				font-size: 18px;
			}
			@media (max-width: 500px) {
				font-size: 12px;
				padding-left: 20px;
			}
				@media (max-width: 320px) {
				font-size: 12px;
				padding-left: 20px;
			}
		}
	}
	&__search-icon{
		position: absolute;
		left: 90%;	
		top: 24%;
		background: none;
		svg{
			width: 30px;
			@media (max-width: 500px) {
			width: 28px;

		}
		}
		@media (max-width: 900px) {
			left: 85%;

		}
		@media (max-width: 420px) {
			left: 80%;
			top: 20%;
		}

	}
	&__title {
		width: 42%;
		min-width: 42%;
		padding: 27px 37px;
		position: relative;
		margin-bottom: 20px;
		background: white;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		@media (max-width: 1400px) {
			width: 62%;
			padding: 17px 27px;
		}
		@media (max-width: 1000px) {
			width: 70%;
		}

		@media (max-width: 860px) {
			width: 80%;
		}
		@media (max-width: 700px) {
			width: 97%;

		}
		@media (max-width: 600px) {
			padding: 0px 0px;
		}	


		span{

			color: #484241;
			height: 100%;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: Drina;
			font-size: 72px;
			font-style: normal;
			font-weight: 400;
			line-height: 73px;
			letter-spacing: 0em;
			text-align: center;
			@media (max-width: 600px) {

				font-size: 52px;
			}
			@media (max-width: 450px) {

				font-size: 42px;
			}
			@media (max-width: 320px) {

				font-size: 32px;
			}

		}
	}
	&__logo-img{
		width: 10%;
		position: relative;
		padding: 0 15% 15% 0;
		position: relative;
		img{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			object-fit: cover;		
		}
	}
	&__line {

		display:none;

		span{
			position: relative;
			&:before {
				z-index: -10;
				position: absolute;
				content: "";

				width: 30%;
				transition: all 0.5s ease;
				background: #4d4959;
				height: 1.5px;
				left: -12%;

				transform: rotate(90deg);
			}
			&:after{
				z-index: -10;
				position: absolute;
				content: "";

				width: 30%;
				transition: all 0.5s ease;
				background: #4d4959;
				height: 1.5px;
				left: 80%;
				top: -20%;
				transform: rotate(90deg);

			}
		}


	}
	&__subtitle {width: 55%;
		padding: 20px 37px;
		position: relative;
		display: flex;
		background: white;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		margin-bottom: 25px;
		@media (max-width: 1400px) {
			width: 72%;
			padding: 10px 27px;
		}
		@media (max-width: 1000px) {
			width: 80%;
		}

		@media (max-width: 860px) {
			width: 90%;
		}
		span{
			width: 100%;
			font-family: Montserrat;
			font-size: 36px;
			font-style: normal;
			font-weight: 300;
			line-height: 44px;
			letter-spacing: 0em;
			text-align: center;
			@media (max-width: 450px) {

				font-size: 25px;
			}
			@media (max-width: 320px) {

				font-size: 20px;
			}

		}

	}
	&__button {
			transition: all 0.5s ;
		&:hover{
			text-decoration: underline;
			transition: all 0.5s ;
		}
		a{
				transition: all 0.5s ;
			font-family: 'Montserrat';
			font-weight: 600;
			font-size: 24px;
			line-height: 29px;
			text-align: center;
			letter-spacing: 0.07em;
			color: #484241;
			background: white;
			padding: 10px 20px;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
			border-radius: 178px;
			&:hover{
					transition: all 0.5s ;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)
			}
			@media (max-width: 450px) {
				font-size: 18px;
			}	
			@media (max-width: 320px) {
				font-size: 16px;
			}
		}
	}
}
[data-animate]{
	opacity: 0;
	transition: all 0.5s ease 0.3s;

}
[data-animate="top"]{
	transform: scale3d(1, 1, 1);
	transform: translate(0px, -200px);
	transition: all 0.7s;

}
[data-animate="bottom"]{
	transform: scale3d(1, 1, 1);
	transform: translate(0px, 200px);
	transition: all 0.5s;

}
.swiper-slide.swiper-slide-active [data-animate] {
	opacity: 1;
	transform: none;
	transition: all 0.5s;
}
.swiper-button-next:after, .swiper-button:after
{
	
	color: #484241;
}
.swiper-button-prev:after, .swiper-button:after
{
	
	color: #484241;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {

    left: -34px;
    right: auto;
}.swiper-button-next, .swiper-rtl .swiper-button {
    right: -34px;
    left: auto;
}
.swiper-button-next-swiper:after, .swiper-button-swiper:before
{
	
	color: black
}

.swiper-button-prev-swiper{

}

.swiper-button-prev-swiper, .swiper-rtl .swiper-button-next-swiper {
	
    left: 10px;
    right: auto;
}.swiper-button-next-swiper, .swiper-rtl .swiper-button-swiper {
    right: 10px;
    left: auto;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: 'prev';
}
/*slider-end-----------------------------------------------------------------------------------------------------------------------------------------------------*/
/*mobile-start-----------------------------------------------------------------------------------------------------------------------------------------------------*/

.close{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0%;
	opacity: 0.2;
	z-index: 100000;
	display: none;


	&.active{

		display: block;


	}
	background: #000;
	@media (min-width: 1100px) {
		display: none;
	}
}
.nav__burger-view{
	display: none;
	@media (max-width: 800px) {
		display: block;
	}
}
.mobile {

	display: none;
	@media (max-width: 1100px) {
		transition:  0.3s ease;
		overflow: auto;
		position: fixed;
		display: block;
		left: -100%;
		top: 0%;
		width: 50%;
		height: 100%;
		z-index: 111121;
		background: rgba(253, 249, 249, 0.9);
		@media (max-width: 650px) {
			width: 75%;
		}
		backdrop-filter: saturate(180%) blur(20px);
		&.active{
			left: 0%;
		}


	}

	&__list { 


		position: relative;
		font-size: 17px;
		li{
			position: relative;
			img{
				position: absolute;
				left: 9px;
				width: 20px;
				height: 21px;
				top: 28%;
			}
			a {
				transition: all 0.2s ease;	
				color: #000;
				display: block;
				&:first-child{
					padding: 14px 42px;

				}
				&:hover{
					background-color:rgba(7,30,31,0.01);
					transition: all 0.5s ease;	
				}
			}
		}

		li{

			border-top: 1px solid #EEE6E6;
		}

	}

	&__list-item {
		position: relative;

	}
	&__sub-menu {
		display: none;

		li{

			background: #FFF0EE;
		}
	}
	&__body {



		.active-mobile-sub-menu{

			svg{
				transform: rotate(180deg);
				transition: all 0.4s ease;
				stroke: #A57B78; 
			}
		}

		.sub-svg{

			position: relative;
			transition: all 0.8s ease;	
			stroke: black;

			svg{
				position: absolute;
				top: 14px;
				left: 92%;
				transition: all 0.4s ease;
				@media (max-width: 768px) {
					left: 92%;
				}
				@media (max-width: 500px) {
					left: 88%;
				}
			}
			

		}
		.wrapper {

		}
	}
	
}
.mobile {
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;


	}
}
.mobile {
	&__head-container {
		padding: 15px 0px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__close { margin-left: 24px; 
		img{

		}
	}
	&__logo-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
	}
	&__logo-text {

		font-family: "Drina";
		font-size: 22px;
		color: #000;
		line-height: 22px;
		font-weight: 600;

	}
}
.nav {
	&__logo {}
}
.mobiile {
	&__logo-text-style {}
}
.mobile__container-telephone{

	padding: 16px 12px;
	&:nth-child(2){
		margin-bottom: 30px;
	}
}
.d-block{
	display: block;
	padding: 0px 8px;
}
.mobile__search{
	width: 40%;
	
	position: relative;

	flex:1 0 30%;
	margin-right: 20px;
	padding: 0px 15px;
	form{
		display: block;
	}
	input{
		width: 100%;
		padding: 10px 0px;
		border-radius: 50px;
		padding-left: 17px;

	}
}
.mobile__search-icon{
	position: absolute;
	left: 85%;	
	top: 20%;
	background: none;
	@media (max-width: 420px) {
		left: 80%;
	}
}
.sticky {

	top: 0;
	
	position: fixed;
	width: 100%;
	z-index: 100000;
	animation: sticky 1s;
	@media (max-width: 800px) {
		animation: none;
	}
	@media (max-width: 1100px) {

	}
	@keyframes sticky{

		0%{
			transform: translate(0px, -50px);
		}
		100%{
			transform: translate(0px, 0px);
		}
	}
}
/*mobile-end-----------------------------------------------------------------------------------------------------------------------------------------------------*/
/*category-start-----------------------------------------------------------------------------------------------------------------------------------------------------*/
.category {
	display: none;
	padding: 60px 0px;
	.h1{
		font-family: Montserrat;
		font-size: 36px;
		font-style: normal;
		font-weight: 300;
		line-height: 44px;
		letter-spacing: 0em;
		text-align: center;
		text-transform: uppercase;
	}
	&__body { 

		flex-direction: column;
		display: flex;
		align-items: center;
		justify-content: center;}
		&__title {color: #451106;}
		&__button { 
			margin-bottom: 20px;
			.svg-hover{
				transition: all 0.4s ease;	
				svg{
					transition: all 0.4s ease;	
					fill:white;
				}
				&:hover{
					svg{
						fill:#451106;
						transition: all 0.4s ease;
					}
					transition: all 0.4s ease;
				}
			}
			transition: all 0.4s ease;
			color: white;
			display: flex;
			align-items: center;
			justify-content: center;
			background: rgba(69, 17, 6, 1);
			border-radius: 26px;

			&:hover{
				transition: all 0.4s ease;
				background: white;
				color: #451106;
				box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%)
			}
			span{

				display: flex;
				align-items: center;
				justify-content: center;
				padding: 5px;
			}

		}
		&__elements-container{
			display: flex;
			flex-direction: column;
			width: 100%;
			background: #E4CAC8;
		}
		&__elements-body { 
			padding: 20px 0px;
			flex-wrap: wrap;
			display: flex;
			align-items: center; 
			justify-content: center;


		}
		&__element { 

			flex:1 0 17%;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 10px;

		}
		&__element-body{
			transition: all 0.4s ;
			&:hover{
				transition: all 0.4s ;
				box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%)
			}
			width: 80%;
			padding: 10px;
			background: white;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&__element-image { 
			position: relative;
			padding: 11%;
			img{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit:cover;
			}
		}
		&__element-text {
			width: 50%;
			font-weight: 600;
			color: #000;
			text-transform: uppercase;
			margin-left: 20px;
		}
	}

	/*category-end-----------------------------------------------------------------------------------------------------------------------------------------------------*/
	/*holidays-start-------------------------------------------------------------------------------------------------------------------------------------------*/
	.holidays {
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;

		padding:80px 0px;
		@media (max-width: 1050px) {
			background: url('../img/background/flowers-610.webp') center / cover no-repeat;
		}
		@media (max-width: 760px) {
height: 80%;
			padding: 0px 0px;
		}
			@media (max-width: 420px) {
height: 70%;
			padding: 0px 0px;
		}
		background: url('../img/background/flowers-draw-color.webp') center / cover no-repeat;
		&__container {
			margin: 0 auto;
			max-width: 1890px}

			&__body {
				li{
					line-height: 88px;
				}
				font-size: 72px;
				@media (max-width: 1800px) {
					font-size: 62px;
					li{
						line-height: 88px;
					}
				}
				@media (max-width: 1200px) {

					font-size: 52px;
					li{
						line-height: 64px;
					}
				}
				@media (max-width: 870px) {

					font-size: 5.7vw;
					li{
						line-height: 64px;
					}

				}
				@media (max-width: 550px) {
					font-size: 6.5vw;
					li{
						line-height: 50px;
					}

				}
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;}
				&__title {
					display: flex;
					align-items: center;
					justify-content: center;
				}
				&__title-text { 
					text-align: center;
					padding: 10px 20px;
					background: #FFFFFF;
					border-radius: 52px;
					color: #484241;
					font-family: Montserrat;
					font-weight: 400;
					text-transform: uppercase;	
					display: flex;
					align-items: center;
					justify-content: center;
					transition: 0.3s;
					box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
					&:hover{
						transition: 0.3s;
						box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.15);
					}
					svg{
						width: 50px;
						fill: black;
						margin-left: 30px;
						stroke-width: 2;
						stroke: black;
						@media (max-width: 720px) {
						display: none;
					
					}
					}
					margin-bottom: 35px;
					@media (max-width: 720px) {
						margin-bottom: 15px;

					}
				}
				&__list {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					font-family: Montserrat;
					.svg-hover{
						transition: all 0.4s ease;	
						svg{
							transition: all 0.4s ease;	
							fill: #484241;
						}
						&:hover{
							svg{
								fill:#89807E;
								transition: all 0.4s ease;
							}
							transition: all 0.4s ease;
						}
					}
					li{


						transition: all 0.2s;
						&:hover{
							color: 	#89807E;
							transition: all 0.6s;
							transform: translate(-50px, 0px);
						}
						color: #484241;
					}
					text-transform: uppercase;
					font-weight: 800;




				}
				&__list-item {display: flex;
					align-items: center;}
					&__svg {

						display: flex;
						align-items: center;
						justify-content: center;
						svg{
							width: 32px;
							margin-left: 13px;

							@media (max-width: 800px) {
								width: 24px;
							}
							@media (max-width: 500px) {
								width: 20px;
							}		
						}
					}
				}
				/*holidays-end-------------------------------------------------------------------------------------------------------------------------------------------*/
				/*best-seller-start-------------------------------------------------------------------------------------------------------------------------------------------*/
				.best-seller {

					padding: 60px 0px;
					@media (max-width: 720px) {
						padding: 30px 0px;
					}
					background: url('../img/background/flowers-back-cart.webp') center /cover no-repeat;
					&__body {display: flex;
						align-items: center; 
						justify-content: center;
						flex-direction: column;
						a{
							color: black;
							transition: all 0.2s;
							&:hover{
								transition: all 0.4s;
								color: #89807E;
								text-decoration-line: underline;

							}
						}
					}
					&__title {font-family: Montserrat;
						font-size: 62px;
						font-weight: 400;
						line-height: 88px;
						letter-spacing: 0.07em;
						text-align: center;
						text-transform: uppercase;
						margin-bottom: 70px;
						@media (max-width: 720px) {
							font-size: 8vw;
							line-height: 62px;
							margin-bottom: 42px;
						}
						@media (max-width: 460px) {
							font-size: 7vw;
							line-height: 42px;
							margin-bottom: 22px;
						}
					}
					&__body-cart {
						overflow: hidden;
						flex: 1 1 100%;
						display: flex;
						width: 100%;
						flex-wrap: wrap;
						justify-content: space-between;
						margin-bottom: 40px;
						@media (max-width: 720px) {
						
                     overflow-x: scroll;
                     flex-wrap: nowrap;
						}
					}
					&__cart {
						flex:1 1 25%; 
						display: flex;
						flex-direction: column;
						align-items: center;
						a{
							color: black;
						}
						@media (max-width: 1200px) {
							flex:1 1 50%;
							margin-bottom: 30px; 
						}
						@media (max-width: 720px) {
							flex:1 1 100%; 
							margin-right: 50px;
							margin-bottom: 10px; 
						}

					}
					&__image {

						width: 90%;
						position: relative;
						padding: 0 0 90% 0;
						display: flex;
						align-items: center;
						justify-content: center;
						@media (max-width: 720px) {

						}
						img{
							width: 100%;
							height: 100%;
							position: absolute;
							left: 0;
							top: 0;
							border-radius: 14px;
							object-fit: cover;

						}
						@media (max-width: 720px) {
							width: 300px;	
						}
						@media (max-width: 450px) {
							width: 250px;	
						}
					}

					&__title-cart {font-weight: 275;
						font-size: 20px;
						line-height: 29px;


					}
					&__money-text {

						line-height: 15px;

					}
					&__order {
						line-height: 20px;
						text-transform: uppercase;



					}
					.svg-cart{
						position: relative;
						svg{
							width:25px;
							position: absolute;
							flll:black;
							stroke: black;
							left: -25px;
							top: -33%;
							transition: all 0.2s;
						}

						&:hover{
							flll:#89807E;
							stroke: #89807E;;
							transition: all 0.5s;
						}

					}
					&__buy-text {
						font-family: Montserrat;
						font-size: 28px;
						font-weight: 700;
						text-align: center;
						text-transform: uppercase;
						text-decoration-line: underline;
						@media (max-width: 560px) {
							font-size: 5vw;
						}
					}

				}
				.svg-cart{
					position: relative;
					svg{
						width:25px;
						position: absolute;
						flll:black;
						stroke: black;
						left: -25px;
						top: -33%;
						transition: all 0.2s;
					}

					&:hover{
						flll:#89807E;
						stroke: #89807E;;
						transition: all 0.5s;
					}

				}
				.wrapper {
				}
				.container {
				}

/*best-seller-end-------------------------------------------------------------------------------------------------------------------------------------------*/
/*category-flowers-start-------------------------------------------------------------------------------------------------------------------------------------------*/

.category-flowers {
	overflow: hidden;
	padding: 40px 0px;
	background: url('../img/background/category-flowers.jpg') center /cover no-repeat;
	&__body { 
		display: flex;

		align-items: center;
		justify-content: center;
		display: grid;
grid-template: 1fr / 1fr 1fr 1fr 1fr;
	@media (max-width: 1200px) {

		grid-template: 1fr / 50% 50%;
}
	}
}
.item-category-flowers {
	&__body {display: flex;
		flex: 1 1 auto;
	}

}

.flowers-cart {
	a{
		color: #000;
	
	}
	&:hover{
		text-decoration: underline;
	}
	padding: 20px 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 1 auto;
	flex-direction: column;
		@media (max-width: 720px) {
			padding: 10px 20px;
	}
		@media (max-width: 420px) {
			padding: 5px 15px;
	}
	&_img {
		width: 100%;
		padding: 0px 0px 200px/200px * 100% 0px;}
	&__title {
display: flex;

	flex: 1 1 auto;
font-weight: 300;
line-height: 29px;

@include adaptiv-font(20, 14)
	}
}
.ibg {
}
/*footer-start-------------------------------------------------------------------------------------------------------------------------------------------*/
.footer {
	a{
		transition: all 0.4s ease;
	color: #000;
	&:hover{
			color: #484241;
		transition: all 0.4s ease;
		text-decoration: underline;
	}
	}
	padding: 20px 0px;
	&__row {display: flex; justify-content: space-between;
		flex-wrap: wrap;
			@media (max-width: 720px) {
				flex-direction: column;
			flex-wrap: nowrap;

		}
	}
	&__body {

		display: flex;
		flex-direction: column;
	}
	&__logo {

		display: flex;
		align-items: center;
		width: 50%;
		padding: 0% 0% 50% 0px;
	}
	&__text-logo {
		font-family: "Drina";
 @include adaptiv-font(24, 14);
    color: #000;
    line-height: 22px;
    text-align: center;
    
	}
	&__title {font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 22px;
letter-spacing: 0px;
text-align: left;
margin-bottom: 20px;
}
	&__list {	@media (max-width: 720px) {
		display: none;
	}
		li{
			margin-bottom: 20px;
			&:before{
			margin-right: 5px;
			content: url(../img/icons/rombik.svg);

		}
		}
	}
	&__social { display: flex;
		align-items: center;
		svg{
				transition: all 0.4s ease;
			fill:#484241;
			margin-right: 15px;
			&:hover{
			 			fill:#89807E;
								transition: all 0.4s ease;
			 }
		}
	}
}
/* .border-solid-bottom{
	border-bottom: 1px solid #979797;
} */
.aic{
	display: flex;
	align-items: center;
	justify-content: center;
}
/*footer-end-------------------------------------------------------------------------------------------------------------------------------------------*/